.App {
  text-align: center;
  height: 100vh;
  
  &-content{
    display: flex;
    justify-content: center;
  }
  
  h1 {
    font-family: "Rubik", sans-serif;
    font-size: 34px;
    // color: $color-dark-teal;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
    
    @include lg {
      font-size: 40px;
    }
  }


  h2 {
    font-family: "Rubik", sans-serif;
    font-size: 22px;
    // color: $color-dark-beige;
    
    @include lg {
      font-size: 25px;
    }
  }

  button {
    // background: $color-green-gradient;
    background-color: #7ac769;
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    border-radius: 12px;
    padding: 8px 36px;
    width: 100%;
    border: 0;
    margin-top: 20px;
  }

}