.App {
  text-align: center;
  height: 100vh;
  
  &-content{
    display: flex;
    justify-content: center;
  }
  
  h1 {
    padding: $margin-mobile;
    font-family: "sfproroundedbold";
    font-size: 34px;
    
    @include lg {
      padding: $margin-desktop;
      font-size: 52px;
    }
  }


}