.App {
  text-align: center;
  height: 100vh;
  
  &-content{
    display: flex;
    justify-content: center;
  }
  
  h1 {
    padding: $margin-mobile;
    font-family: "sfproroundedbold";
    font-size: 34px;
    // color: $color-dark-teal;
    
    @include lg {
      padding: $margin-desktop;
      font-size: 52px;
    }
  }

  h2 {
    font-family: "sfproroundedmedium";
    font-size: 22px;
    // color: $color-dark-beige;
    
    @include lg {
      font-size: 30px;
    }
  }

}