@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');




@font-face {
  font-family: 'sfproroundedlight';
  src: url('../Fonts/SF-Pro-Rounded-Light.woff2') format('woff2'),
        url('../Fonts/SF-Pro-Rounded-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfproroundedblack';
  src: url('../Fonts/SF-Pro-Rounded-Black.woff2') format('woff2'),
        url('../Fonts/SF-Pro-Rounded-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfproroundedbold';
  src: url('../Fonts/SF-Pro-Rounded-Bold.woff2') format('woff2'),
        url('../Fonts/SF-Pro-Rounded-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfproroundedheavy';
  src: url('../Fonts/SF-Pro-Rounded-Heavy.woff2') format('woff2'),
        url('../Fonts/SF-Pro-Rounded-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfproroundedmedium';
  src: url('../Fonts/SF-Pro-Rounded-Medium.woff2') format('woff2'),
        url('../Fonts/SF-Pro-Rounded-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfproroundedregular';
  src: url('../Fonts/SF-Pro-Rounded-Regular.woff2') format('woff2'),
        url('../Fonts/SF-Pro-Rounded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfproroundedsemibold';
  src: url('../Fonts/SF-Pro-Rounded-Semibold.woff2') format('woff2'),
        url('../Fonts/SF-Pro-Rounded-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfproroundedthin';
  src: url('../Fonts/SF-Pro-Rounded-Thin.woff2') format('woff2'),
        url('../Fonts/SF-Pro-Rounded-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sfproroundedultralight';
  src: url('../Fonts/SF-Pro-Rounded-Ultralight.woff2') format('woff2'),
        url('../Fonts/SF-Pro-Rounded-Ultralight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}