.navigation{
  a {
      font-size: 17px;
      margin: 4px 10px;
      margin-top: 20px;

      @include lg {
        margin-top: 0;
      }
    }
  
    #nav-dropdown {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      a {
        margin: 0;
        padding-top: 10px;
      }
    }

    button {
      background-color: white;
      width: auto;
      margin-top: 10px;
    }
  
    .dropdown-menu {
      left: auto !important;
      right: 0;
    }
  
    .dropdown-item {
      width: auto !important;
  
      &.active, &.focus, &:target {
        // background-color: #89e675 !important;
        background: $color-green-gradient !important;
        border-radius: 3px;
      }
      
      &:hover {
        background-color: lightgrey;
        border-radius: 3px;
      }
    }
  
    .nav-items-left{
      display: flex;
    }
}