body {
  margin: 0;
  font-size: 16px;
  font-family: "sfproroundedregular";
}

h1 {
  padding: $margin-mobile;
  font-family: "sfproroundedbold";
  font-size: 20px;
  
  @include lg {
    padding: $margin-desktop;
    font-size: 36px;
  }
}