.signup-page {
  background-color: #f2f2f2a6;
  padding: 70px 40px;
  text-align: left;
  border-radius: 12px;
  margin-bottom: 30px;
  height: max-content;
  max-width: 90vw;

  button {
    max-width: 320px;
    align-self: center;
  }

  form {
    display: flex;
    flex-direction: column;
    // justify-content: center;

    label {
      // display: flex;
      // justify-content: center;
      margin-right: 10px;
      width: 130px;
      text-align: left;
      font-weight: 400;

      @include lg {
        justify-content: flex-start;
      }
    }

    .login-selector {
      display: flex;
      flex-direction: column;
      // align-items: center;
      margin-bottom: 10px;
      width: 100%;

      .css-1akvy1b-container{
        width: 100% !important;
      }

      @include lg {
        flex-direction: row;
        
      }
    }

    .login-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      width: 100%;
      
      @include lg {
        flex-direction: row;
      }
      
      
      input[type="text"], input[type="password"], input[type="email"] {
        max-width: 70vw;
        padding: 6px 10px;
        border: 0;
        outline: none;
        border-radius: 4px;
        transition: all 0.3s ease; 
    
        &:focus {
          box-shadow: 0 0 0 2px blue;
        }
      }
      
    }

    .form-fields {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      justify-content: center;
      
      @include lg {
        align-items: last baseline;
      }
    }

    .household-form-fields {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}