.task-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .task-card-container {
    display: flex;
    flex-direction: column;

    .task-card {
      border: 1px solid grey;
      border-radius: 4px;
      margin: $margin-mobile;
      padding: $margin-mobile;
      width: 80vw;

      @include lg {
        width: 350px;
      }
    }
  }
}