$color-bright-green: #89e675;
$color-soft-green: #B3E59F;
$color-green-gradient: linear-gradient(38deg, rgba(122,199,105,1) 0%, rgba(137,230,117,1) 32%, rgba(179,229,159,1) 89%, rgba(211,237,201,1) 100%);
// $color-anthracite: #2C3531;
// $color-dark-teal: #116466;
// $color-dark-beige: #D9B08C;
// $color-light-beige: #FFCB9A;
// $color-teal-grey: #D1E8E2;

$page-gutter-desktop: 36px;
$page-gutter-mobile: 18px;
$margin-desktop: 36px;
$margin-mobile: 18px;

$font-size-mobile: 12px;
$font-size-desktop: 16px;

// Sizes retrieved from https://medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
